Analyzing the [Kaggle Dataset](https://www.kaggle.com/djzurawski/us-oil-and-gas-production-june-2008-to-june-2018) with information about Oil and Gas production in the US from June 2008 to June 2018.

In [1]:
import numpy as np
import pandas as pd
import matplotlib

Let's load the Gas production:

In [2]:
file = "data/U.S._natural_gas_production.csv"
gas_df = pd.read_csv(file, decimal=",")
gas_df.head(3)

,Month,U.S.,Alaska,Arkansas,Kansas,Other States,Federal Offshore--Gulf of Mexico,Wyoming,West Virginia,Utah,Pennsylvania,Texas,Oklahoma,Ohio,North Dakota,New Mexico,Montana,Louisiana,Colorado,California
0,2008-06-01,70626,8875,1196,1024,2995,7339,6839,670,1198,540,21446,5241,224,243,3975,323,3989,3576,932
1,2008-07-01,71137,8375,1256,1034,3150,7468,6940,674,1200,512,21547,5256,220,243,4179,324,4008,3834,919
2,2008-08-01,70760,8739,1313,1033,3092,6868,6835,678,1277,529,21777,4896,220,249,4092,327,3896,4056,881

In [3]:
gas_df.shape

(121, 20)

In [4]:
gas_df.columns

Index(['Month', 'U.S.', 'Alaska', 'Arkansas', 'Kansas', 'Other States',
       'Federal Offshore--Gulf of Mexico', 'Wyoming', 'West Virginia', 'Utah',
       'Pennsylvania', 'Texas', 'Oklahoma', 'Ohio', 'North Dakota',
       'New Mexico', 'Montana', 'Louisiana', 'Colorado', 'California'],
      dtype='object')

In [5]:
gas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Month                             121 non-null    object
 1   U.S.                              121 non-null    int64
 2   Alaska                            121 non-null    int64
 3   Arkansas                          121 non-null    int64
 4   Kansas                            121 non-null    int64
 5   Other States                      121 non-null    int64
 6   Federal Offshore--Gulf of Mexico  121 non-null    int64
 7   Wyoming                           121 non-null    int64
 8   West Virginia                     121 non-null    int64
 9   Utah                              121 non-null    int64
 10  Pennsylvania                      121 non-null    int64
 11  Texas                             121 non-null    int64
 12  Oklahoma                          121 non-null    int64
 13  Ohio                              121 non-null    int64
 14  North Dakota                      121 non-null    int64
 15  New Mexico                        121 non-null    int64
 16  Montana                           121 non-null    int64
 17  Louisiana                         121 non-null    int64
 18  Colorado                          121 non-null    int64
 19  California                        121 non-null    int64
dtypes: int64(19), object(1)
memory usage: 19.0+ KB

In [17]:
gas_df['Month'] = pd.to_datetime(gas_df['Month'])

### Check your code

In [18]:
month_type = gas_df['Month'].dtype

In [19]:
from nbresult import ChallengeResult

result = ChallengeResult('date',
    month_type=month_type,
)
result.write()

In [20]:
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/saranjthilak92/.pyenv/versions/3.12.9/envs/lewagon/bin/python
cachedir: .pytest_cache
rootdir: /home/saranjthilak92/code/saranjthilak/02-Data-Toolkit/01-Data-Analysis/data-us-oil-and-gas-production/tests
plugins: typeguard-4.4.2, anyio-4.8.0
collecting ... collected 1 item

test_date.py::TestDate::test_month_column_is_a_datetime PASSED           [100%]

============================== 1 passed in 0.20s ===============================


ðŸ’¯ You can commit your code:

git add tests/date.pickle

git commit -m 'Completed date step'

git push origin master